* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 0;
}
html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  height: 100%;
  background-color: blue;
}
button, input, textarea {
  font-family: 'Raleway', sans-serif;
}
input[type="text"] {
  height: 35px;
}
.table th, .table td {
  padding: 5px !important;
}
table a {
  color: black;
  text-shadow: 0px 1px 0px #ebebeb;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#wrapper {
  min-height: 100%;
  width: 1000px;
  height: auto !important;
  height: 100%;
  margin: 55px auto 155px;
  background-color: green;
}
#sidebar {
  width: 20%;
  float: left;
  background-color: red;
  height: 100%;

  #sidebarInner {
    padding: 25px;
  }
}
#content {
  width: 79%;
  height: 100%;
  float: right;

  #contentInner {
    padding: 15px;
  }
  h1 {
    font-size: 108px;
    text-shadow: 0px 1px 1px #4d4d4d;
  }
  h2 {
    font-size: 30px;
    margin: 0px 0 15px 0;
    text-shadow: 0px 1px 1px #4d4d4d;
    border-bottom: 1px solid #f89406;
    img {
      vertical-align: text-top;
    }
  }
  h3 {
    font-size: 30px;
    margin: 30px 0 10px 0;
  }
  p {
    font-size: 18px;
  }
}


.hidden {
  display: none;
  visibility: hidden;
}
.hide {
  display: none;
}
#collectionLatch {
  clear: both;
}