* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 0;
}
html, body {
  font-family: 'PT Sans', 'Helvetica';
  font-size: 12px;
  height: 100%;
}
button, input, textarea {
  font-family: 'PT Sans', 'Helvetica';
}
input[type="text"] {
  height: 35px;
}
.table th, .table td {
  padding: 5px !important;
}
table a {
  color: black;
  text-shadow: 0px 1px 0px #ebebeb;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#wrapper {
  min-height: 100%;
  min-width: 1000px;
  height: auto !important;
  height: 100%;
  margin: 0 auto 155px;
}
#content {
  width: auto;
  background-color: white;
  #contentInner {
    padding: 15px;
  }
  h1 {
    font-size: 108px;
    text-shadow: 0px 1px 1px #4d4d4d;
  }
  h2 {
    font-size: 30px;
    margin: 0px 0 15px 0;
    text-shadow: 0px 1px 1px #4d4d4d;
    border-bottom: 1px solid #f89406;
    img {
      vertical-align: text-top;
    }
  }
  h3 {
    font-size: 30px;
    margin: 30px 0 10px 0;
  }
  p {
    font-size: 18px;
  }
}
#top {
  background: #e9c324;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  color: black;
  font-weight: 600;
  text-shadow: 0px 1px 1px #4d4d4d;
  border-bottom: 5px solid #F5A922;
  a {
    color: black;
  }
}
#footer {
  height: 155px;
  width: 100%;
  clear: both;
  padding: 25px;
  background: black;
  border-top: 5px solid orange;
  color: white;
  .information {
    font-size: 15px;
    margin-bottom: 15px;
  }
  a {
    color: white;
  }
}
.hidden {
  display: none;
  visibility: hidden;
}
.hide {
  display: none;
}
#collectionLatch {
  clear: both;
}